.root {
  display: inline-block;
}

.line {
  display: inline-block;
  line-height: calc(var(--theme-line-height-base) * 1rem);
}

.link {
  display: inline-block;
  color: var(--theme-text);
  outline: 0;
  border: 0;
  text-decoration: none;
  background: var(--theme-border);

  &:hover {
    color: var(--theme-text);
    background: var(--theme-focused-foreground);
  }
  
  &:visited {
    color: var(--theme-text);
  }

  &:focus {
    background: var(--theme-focused-foreground);
  }
}

.symbol {
  min-width: 1ch;
  display: inline-block;
  margin: 0 1ch 0 1ch;
}