[submodule "src/ext/clap"]
	path = src/ext/clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "mir"]
	path = vendors/mir
	url = https://github.com/vnmakarov/mir
[submodule "vendors/pcre2"]
	path = vendors/pcre2
	url = https://github.com/PCRE2Project/pcre2
