[submodule "mir"]
	path = vendors/mir
	url = https://github.com/vnmakarov/mir
[submodule "vendors/pcre2"]
	path = vendors/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "vendors/mimalloc"]
	path = vendors/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "vendors/linenoise"]
	path = vendors/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "src/ext/zig-lsp-kit"]
	path = src/ext/zig-lsp-kit
	url = https://github.com/buzz-language/zig-lsp-kit.git
